<mat-toolbar>
    <span>{{ (cityService.actionType === "Add")? "Agregar" : "Editar" }}</span>
</mat-toolbar>
<form [formGroup]="cityService.formGroup" class="normal-form" (ngSubmit)="sendDataCity()" method="POST">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-label>Nombre Ciudad: </mat-label>
                    <input type="text" matInput formControlName="name" required="required">
                    <mat-error *ngIf="cityService.formGroup.controls['name'].errors?.required">Dime el nombre de la ciudad</mat-error>

                </mat-form-field>

                <mat-form-field>
                    <mat-label>Poblacion</mat-label>
                    <input type="number" matInput formControlName="population" required>
                    <mat-error *ngIf="cityService.formGroup.controls['population'].errors?.required"> Poblacion de la ciudad </mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-label>Sitio mas turistico</mat-label>
                    <input type="text" matInput formControlName="recomendedPlace" required>
                    <mat-error *ngIf="cityService.formGroup.controls['recomendedPlace'].errors?.required"> Dime el sitio mas visitado </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Hotel mas recervado</mat-label>
                    <input type="text" matInput formControlName="hotel" required>
                    <mat-error *ngIf="cityService.formGroup.controls['hotel'].errors?.required"> ¿Cual es el hotel mas recervado?</mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="Primary" type="submit" name="action" [disabled]="cityService.formGroup.status === 'INVALID'"> {{ (cityService.actionType === "Add")? "Nueva" :"Editar" }} Ciudad</button>
                    <button mat-raised-button color="warn" (click)="cityService.clearForm()">Limpiar</button>
                    <mat-error *ngIf="cityService.formGroup.status === 'INVALID'"> No dejes los campos vacios </mat-error>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>