<mat-toolbar>
    <span>Nuevo Registro</span>
</mat-toolbar>
<form [formGroup]="bookTripService.formGroup" class="normal-form" (ngSubmit)="SendDataBookTrip()" method="POST">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-select formControlName="idTourist" placeholder="Turista:*">
                        <mat-option *ngFor="let dataTourist of bookTripService.dataTourist" value="{{ dataTourist.id}}">{{dataTourist.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="bookTripService.formGroup.controls['idTourist'].errors?.required">Selecciona un Turista</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="idCity" placeholder="Destino:*">
                        <mat-option *ngFor="let dataCity  of bookTripService.dataCities" value="{{ dataCity.id}}">{{dataCity.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="bookTripService.formGroup.controls['idCity'].errors?.required">Selecciona un destino</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Fecha de viaje:</mat-label>
                    <input type="date" matInput formControlName="travelDate" required>
                    <mat-error *ngIf="bookTripService.formGroup.controls['travelDate'].errors?.required">¿Cuando viajas?</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <div class="button-row">
                    <button mat-raised-button color="Primary" type="submit" name="action" [disabled]="bookTripService.formGroup.status === 'INVALID'"> Nuevo registro</button>
                    <button mat-raised-button color="warn" (click)="bookTripService.clearForm()">Limpiar</button>
                    <mat-error *ngIf="bookTripService.formGroup.status === 'INVALID'"> No dejes los campos vacios </mat-error>
                    <mat-error *ngIf="travelCount > 4">Selecciona otra fecha de viaje u otra ciudad. <br> No quedan mas recervas para este dia en esta ciudad</mat-error>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>