<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span> Prueba Tecnica QUILEIA - Nelson Zapata </span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>

    <div class="options">
        <button (click)="GetTourist()" mat-raised-button><mat-icon >list-ul</mat-icon> Listar Turistas</button>
        <button (click)="GetCity()" mat-raised-button><mat-icon >list-ul</mat-icon> Listar Ciudades</button>
        <button (click)="GetBookTrip()" mat-raised-button><mat-icon >list-ul</mat-icon> Listar Viajes</button>
    </div>

    <ng-container [ngSwitch]="dataService.userModule">
        <ng-container *ngSwitchCase="0">
            <ng-template *ngIf="touristComponent" [ngComponentOutlet]="touristComponent | async"></ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="1">
            <ng-template *ngIf="cityComponent" [ngComponentOutlet]="cityComponent | async"></ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="2">
            <ng-template *ngIf="bookTripComponent" [ngComponentOutlet]="bookTripComponent | async"></ng-template>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <mat-toolbar>
                <span>Selecciona una opcion</span>
                <span class="fill-remaining-space"></span>
            </mat-toolbar>
        </ng-container>
    </ng-container>

</div>