<div class="new-div">
    <button (click)="onAdd()" mat-raised-button><mat-icon >add</mat-icon> Agregar Registro</button>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listBookTripData" matSort>
        <ng-container matColumnDef="idCity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Ciudad</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.idCity}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="idTourist">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Turista</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.idTourist}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="travelDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de viaje</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.travelDate}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="registrationDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de registro </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.registrationDate}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Cargando historial...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Sin Datos.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns "></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listBookTripData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listBookTripData!=null && listBookTripData.data.length===0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5"></mat-paginator>
</div>