<mat-toolbar>
    <span>{{ (touristService.actionType === "Add")? "Agregar" : "Editar" }}</span>
</mat-toolbar>
<form [formGroup]="touristService.formGroup" class="normal-form" (ngSubmit)="sendDataTourist()" method="POST">
    <mat-grid-list cols="3" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-label>Nombre: </mat-label>
                    <input type="text" matInput formControlName="name" required="required">
                    <mat-error *ngIf="touristService.formGroup.controls['name'].errors?.required">Dime tu Nombre</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Apellido: </mat-label>
                    <input type="text" matInput formControlName="lastName" required="required">
                    <mat-error *ngIf="touristService.formGroup.controls['lastName'].errors?.required">Dime tu Apellido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Fecha de nacimiento:</mat-label>
                    <input type="date" matInput formControlName="birdDate" required>
                    <mat-error *ngIf="touristService.formGroup.controls['birdDate'].errors?.required">¿Cuando naciste?</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Numero de identifiacion</mat-label>
                    <input type="text" matInput formControlName="iDNumber" required>
                    <mat-error *ngIf="touristService.formGroup.controls['iDNumber'].errors?.required"> Dime tu numero de identificacion </mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-label>Tipo de documento</mat-label>
                    <input type="text" matInput formControlName="iDType" required>
                    <mat-error *ngIf="touristService.formGroup.controls['iDType'].errors?.required"> Que tipo de identificacion es esta </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Frecuencia de viaje en meses</mat-label>
                    <input type="number" matInput formControlName="travelFrecuency" required>
                    <mat-error *ngIf="touristService.formGroup.controls['travelFrecuency'].errors?.required"> ¿Con que frecuencia viajas?</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Presupuesto de viaje</mat-label>
                    <input type="number" matInput formControlName="travelBudget" required>
                    <mat-error *ngIf="touristService.formGroup.controls['travelBudget'].errors?.required"> ¿Con cuanto presupuesto cuentas?</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-select formControlName="destiny" placeholder="Destino:*">
                        <mat-option *ngFor="let dataCity  of touristService.dataCities" value="{{ dataCity.id}}">{{dataCity.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="touristService.formGroup.controls['destiny'].errors?.required">Selecciona un destino</mat-error>
                </mat-form-field>
                <div class="add-bottom-padding">
                    <mat-label>Targeta de credito:</mat-label>
                    <mat-radio-group formControlName="creditCard">
                        <mat-radio-button value="0">Si</mat-radio-button>
                        <mat-radio-button value="1">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="button-row">
                    <button mat-raised-button color="Primary" type="submit" name="action" [disabled]="touristService.formGroup.status === 'INVALID'"> {{ (touristService.actionType === "Add")? "Agregar" :"Editar" }} Turista </button>
                    <button mat-raised-button color="warn" (click)="touristService.clearForm()">Limpiar</button>
                    <mat-error *ngIf="touristService.formGroup.status === 'INVALID'"> No dejes los campos vacios </mat-error>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>