<div class="new-div">
    <button (click)="onAdd()" mat-raised-button><mat-icon >add</mat-icon> Agregar Ciudad</button>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listCityData" matSort>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Ciudad</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="population">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Poblacion</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.population}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="recomendedPlace">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sitio mas recervado</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.recomendedPlace}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="hotel">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Hotel mas recervado </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.hotel}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="onRemove(row)" color="warn"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Cargando ciudades...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No existen ciudades; registra una para usar correctamente las otras opciones.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns "></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listCityData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listCityData!=null && listCityData.data.length===0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25]" [pageSize]="5"></mat-paginator>
</div>