<div class="new-div">
    <button (click)="onAdd()" mat-raised-button><mat-icon >add</mat-icon> Agregar Turista</button>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listTouristData" matSort>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.lastName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="birdDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Nacimiento</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.birdDate}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="iDNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Identificacion</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.iDNumber}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="iDType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de identificacion</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.iDType}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="travelFrecuency">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Frecuencia de viaje</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.travelFrecuency}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="travelBudget">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Presupuesto de viaje</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.travelBudget}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="destiny">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Destino</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.destiny}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="creditCard">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Targeta de credito</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.creditCard}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="onRemove(row)" color="warn"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Buscando turistas...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No existen turistas en la base de datos.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns "></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listTouristData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listTouristData!=null && listTouristData.data.length===0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,50]" [pageSize]="5"></mat-paginator>
</div>