/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.container {
    margin: 10px 40px 0px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.controles-container>* {
    width: 100%;
    padding: 5%;
}

.add-bottom-padding {
    padding-bottom: 10px;
}

mat-radio-group mat-radio-button {
    margin-left: 5px;
}

snack-bar-container.success {
    background-color: #5cb85c;
    color: whitesmoke;
}

snack-bar-container.warn {
    background-color: #f7b335;
    color: whitesmoke;
}

snack-bar-container.notification simple-snack-bar {
    font-size: 18px !important;
    font-weight: bold;
}

.hide {
    display: none;
}

div.options {
    align-content: center;
    margin: 20px;
}